header {
  z-index: 20;
  width: 100%;
  position: fixed;
  top: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100vh; 
  padding: 0 3%; 
  box-sizing: border-box;
}

.feed-lists {
  margin-top: 8%;
}
.feed-lists.off {
  display: none;
}

.feed {  
  display: flex;
  flex-direction: column; 
  .feed-user-info {
    display: flex; 
    align-items: center; 
    .user-profile-image{
      margin-right: 3%;
    }
    .feed-user-name {
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.6;
    }
    .feed-user-id {
      font-size: 1.2rem;
    }
  }
  .feed-content-wrap { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 13%;
    p {
      font-size: 1.4rem;
      color: #000;
      margin: 5% 0;
      line-height: 1.2;

    }
    .feed-button-wrap{
      .feed-button-heart { 
        margin: 0;
        @include post-icon-module(
          "/icon/icon-heart.svg",
          "/icon/icon-heart-active.svg"
        );
      }
      .feed-button-comment { 
        margin: 0;
        @include post-icon-module(
          "/icon/icon-message-circle.svg",
          "/icon/icon-message-circle-fill.svg"
        );
      }
    }
    .feed-upload-date {
      font-size: 1rem;
    }
  }
}

.tab-menu {
  z-index: 20;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.follow-modal {  
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 800px;
  overflow: auto;
  box-sizing: border-box; 
  padding-top: 60%;
  background: #FFF;
  .follow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    img {
      width: 12rem; 
      height: 12rem;
    }
    p {
      font-size: 1.4rem;
      color: $gray-color; 
      margin-bottom: 2rem;
    }
  }
}
.modal.on {
  display: block;
}