.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.search-user-cont {
  height: 2000px;
  overflow-y: scroll;
  padding: 20px 16px;
  li + li {
    margin-top: 16px;
  }
}
