@import "../common/variables";

.container {
  margin: 0 auto;
  width: 39rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  border: none;
}

.top-basic-nav {
  width: 39rem;
  position: fixed;
  top: 0;
  z-index: 3;
}

main {
  margin-top: 49px;
  margin-bottom: 60px;
  background-color: #fff;
  position: relative;

}

// 유저프로필 
article.pf {
  background-color: #fff;
  padding: 20px 34px;
  text-align: center;
  position: relative;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;

  header.pf-dt ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li {
      h3 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }

      img {
        width: 110px;
      }
    }
  }

  h2.pf-title {
    padding-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .pf-id {
    padding-top: 0.6rem;
    font-size: 1.2rem;
    color: $gray-color;

  }

  .pf-description {
    padding-top: 0.6rem;
    font-size: 1.4rem;
    color: $gray-color;
  }

  .pf-footer ul {
    padding-top: 24px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-evenly;

    li.pf-icon {
      height: 3.4rem;
      width: 3.4rem;
      border: solid #dbdbdb 1px;
      border-radius: 3.4rem;

      img {
        width: 2rem;
        padding-top: 5px;
      }
    }

    li:nth-child(2) {
      width: 12rem;
      border: solid #dbdbdb 1px;
      border-radius: 3.4rem;

      button {
        width: 100%;
      }
    }

  }
}

// 판매중인 상품
section.pf-product {
  padding: 20px 0 20px 21px;
  border-top: #E5E5E5 solid 6px;
  overflow: hidden;

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 16px;
  }

  ul {
    display: flex;
    
    li {
      padding-right: 10px;
    }
  }
}

// 홈포스트
section.pf-home-post {
  border-top: #E5E5E5 solid 6px;

  header {
    padding: 1.2rem 1.2rem 1.2rem 1.6rem;
    width: 39rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #DBDBDB;
  }

  button {
    width: 2.8rem;
    height: 2.8rem;
  }

  .list-btn {
    background-image: url(../../icon/icon-post-list-on.png);

    &.off {
      background-image: url(../../icon/icon-post-list-off.png);
    }
  }

  .album-btn {
    background-image: url(../../icon/icon-post-album-off.png);

    &.on {
      background-image: url(../../icon/icon-post-album-on.png);
      }
    }

    ul {
      padding: 16px;
    }

    ul.list-post {
      &.off {
        display: none;
      }
    }

    ul.album-post {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      display: none;

      li {
        margin-bottom: 8px;
        width: 29%;
        min-width: 11.4rem;
        height: 29%;
        min-height: 11.4rem;
        background:#dbdbdb;
      }

      &.on {
        display: block;
      }
    }


  }


  //로그아웃 팝업 모달
  article.modal-logout {
    width: 100%;
    max-width: 39rem;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 3;
    display: none;

    .logout-popup {
      margin: 0 auto;
      margin-top: 50%;
      width: 25.2rem;
      // height: 11rem;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;

    }
    h3{
      margin:0;
      padding:22px 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
    }
      ul {
      min-width: 25.2rem;
      text-align: center;
      border-top:1px solid #dbdbdb;
      li{
        width: 49%;
        display: inline-block;
        padding: 14px 0px;
        font-size: 1.4rem;
        
      }
      .logout-cancle {
        border-right: 1px solid #dbdbdb;
      }
      .logout-agree{

      }
      .bar {
        
      }
    }
  }

  //설정, 로그아웃 모달 
  article.pf-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 39rem;
    z-index: 1;
    display: none;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;

    p.modal-line {
      height: 3.6rem;
      width: 100%;
      line-height: 3.6rem;
      text-align: center;

      span {
        display: inline-block;
        width: 5rem;
        height: 0.4rem;
        background-color: #dbdbdb;
      }
    }

    ul {
      li {
        line-height: 46px;
        padding: 0 26px;
        font-size: 1.4rem;
        text-align: left;
      }
    }
  }

  article.pf-modal.on,
  article.modal-logout.on {
    display: block;
  }


  //푸터메뉴
  footer.tab-menu {
    width: 100%;
    max-width: 39rem;
    position: fixed;
    bottom: 0;
  }