@charset "utf-8";
@import "common";

/* chat_detail */

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-y: scroll;
  background-color: #f2f2f2;
  .chatting-cont {
    padding: 20px 16px;
    .avatar-img {
      border-radius: 50%;
      width: 42px;
      margin-right: 12px;
    }
    li + li { margin-top: 10px}
    .other-user {
      display: flex;
      .sended-text { border-top-left-radius: 0; }
      .sended-time {
        @include font-module(1rem, 400);
        color: $gray-color;
        margin: auto 0 10px 6px;
      }
    }
    .my-user {
      display: flex;
      flex-direction: row-reverse;
      justify-content: right;
      .sended-text {
        position: relative;
        background-color: $base-color;
        border-top-right-radius: 0;
        color: #fff;
        border: none;
      }
      .sended-time {
        @include font-module(1rem, 400);
        color: $gray-color;
        margin: auto 6px 10px 0;
      }
    }
    // 말풍선
    .sended-text {
      display: block;
      background-color: #fff;
      border: 1px solid $light-gray-color;
      border-radius: 10px;
      max-width: 240px;
      font-size: 1.4rem;
      line-height: 17px;
      padding: 12px;
    }
    // 보낸 이미지
    .sended-img { border-radius: 5px; }
  }
}

// 하단 메시지 보내기 창
.chating-text {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid $line-color;
  padding: 1.3rem 2rem 1.2rem 1.6rem;
  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .chat-img-input {
      text-indent: -9999px;
      position: relative;
      width: 41px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        background-image: url(/images/img-button.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
      }
    }
    .chat-text-input {
      width: 90%;
      font-size: 1.4rem;
      border: none;
      padding: 1rem 1.8rem;
      resize: none; 
      &:focus { outline: none; }
      &::placeholder { color: $light-gray-color; }
    }
    .chat-submit-btn {
      color: $light-gray-color;
      font-size: 1.4rem;
      width: 32px;
      cursor: unset;
      &.on {
        cursor: pointer;
        color: $base-color;
      }
    }
  }
}

.modal {
  position: fixed;
  bottom: 0; top: 0;
  right: 0; left: 0;
  background-color: rgba(0,0,0,0.2);
  animation: show-modal .8s ease-out;
  nav {
    @include font-module(1.4rem);
    position: absolute;
    bottom: 0;
    right: 0; left: 0;
    background-color: #fff;
    height: 200px;
    border: 1px solid $light-gray-color;
    border-radius: 10px;
    padding: 1.6em 0;
    &::after {
      content: "";
      position: absolute;
      left: 50%; top: 10%;
      transform: translateX(-50%);
      width: 50px;
      height: 4px;
      border-radius: 10px;
      background-color: $line-color;
    }
    li {
      margin-top: 3.6em;
      padding: 1.4em 2.6em;
      .chat-out-btn {
        color: #000;
        &:hover { color: $base-color; }
      }
    }
  }
}

@keyframes show-modal {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}

.hidden {
  display: none;
}

