@import "./module/button-module";
@import "./module/nav-module";
@import "./module/user-module";

html {
  font-size: 10px;
  background-color: #E5E5E5;
}

.container {
  width: 390px;
  margin: 10% auto 0;
  text-align: center;
}

.module-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  text-align: left;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1.5rem;
}
