@import "./module/button-module";
@import "./module/nav-module";
@import "./module/user-module";
@import "./module/post-module";

html {
  background-color: #E5E5E5;
}

.container {
  width: 390px;
  margin: 10% auto;
  border: 1px solid $gray-color;
}

.module-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  text-align: left;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1.5rem;
}

.category {
  ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
  }
}