@import "../../../src/style/common/variables";
@import "../../../src/style/common/fonts";
@import "../../../modules/module/nav-module";  
@import "../../../modules/module/button-module";   
@import "../../../modules/module/post-module"; 

main {
  width: 100%;
  height: 100vh;   
  padding: 0 3%; 
  box-sizing: border-box;
}

.post-text {
  background-color: #fff;
  display: flex; 
  padding: 1.3rem 2rem 1.2rem 1.6rem;
  form {  
    width: 100%; 
    height: 250px;
  }
  .post-input {
    width: 90%; 
    height: 100%;
    font-size: 1.4rem;
    border: none;
    padding: 1rem 0; 
    resize: none;
    &:focus { outline: none; }
    &::placeholder { color: $light-gray-color; }
  }
  .post-submit-btn { color: $light-gray-color; }
}

.buton-image-upload {
  position: fixed;
  bottom: 5%;
  right: 8%;
}