<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit_profile.css">
    <title>피치마켓 | 프로필 수정</title>
</head>
<body>
  <header>
    <h1 class="text-hide">프로필 수정</h1>
    <nav class="top-upload-nav">
      <button type="button" class="prev-btn"></button>
      <button type="button" class="ms-disabled-button">저장</button>
    </nav>
  </header>
  <main> 
    <h2 class="text-hide">프로필 작성 폼</h2>
    <form>
      <div class="profile-image-wrapper">
        <img class="profile-image" src="/images/basic-profile-img-.png" alt="디폴트 유저 프로필">
        <label
          class="upload-button" 
          for="upload-image">이미지 업로드 버튼
        </label>
        <input 
          type="file" 
          class="upload-input"
          id="upload-image">
        </input>
      </div>
      <div class="user-input">
        <label for="user-name">사용자 이름</label>
        <input type="text" id="user-name" class="user-name" placeholder="2~10자 이내여야 합니다.">
        <span class="input-error">*2~10자 이내여야 합니다.</span>

        <label for="user-id">계정 ID</label>
        <input type="text" id="user-id" class ="input-id" placeholder="영문, 숫자, 특수문자(.),(_)만 사용 가능합니다.">
        <span class="input-error">*영문, 숫자, 특수문자(.),(_)만 사용 가능합니다.</span>

        <label for="user-introduction">소개</label>
        <input type="text" id="user-introduction" placeholder="자신과 판매할 상품에 대해 소개해 주세요!">
      </div> 
    </form>
  </main>
  <script src="/js/edit_profile.js"></script>
</body>
</html>