<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/post.css">
    <title> 피치마켓 | 포스트 </title>
</head>
<body>
  <h1 class="text-hide">유저 포스트</h1>
  <header>
    <nav class="top-basic-nav">
      <button type="button" class="prev-btn">
        <span class="text-hide">이전으로 가기 버튼</span>
      </button>
      <button type="button" class="more-btn">
        <span class="text-hide">설정 더보기 버튼</span>
      </button>
    </nav>
  </header>
  <main> 
    <h2 class="text-hide">포스트 내용</h2> 
    <section class="post-lists"> 
        <div class="home-post">
          <img src=${authorImage} alt="프로필 사진" class="avatar-img">
          <div>
            <div class="content-wrap">
              <a href="#none">
                <strong>${authorName}</strong>
                <span>@ ${authorAccount}</span>
              </a>
              <button type="button" class="more-btn">
                <span class="text-hide">설정 더보기 </span>
              </button>
            </div>
            <p class="post-content">${postContent}</p>
            <div class="post-img-window">
              <ul class="post-img-container">
                <li class="post-img-wrap">
                  <img src="/images/post-img-example.png" alt="포스트 사진" class="post-img"> 
                </li>
                <li class="post-img-wrap">
                  <img src="/images/post-img-example.png" alt="포스트 사진" class="post-img"> 
                </li>
                <li class="post-img-wrap">
                  <img src="/images/post-img-example.png" alt="포스트 사진" class="post-img"> 
                </li>
              </ul>
              <div class="post-img-button-wrap">
                <button class="img-slide one on" type="button"></button>
                <button class="img-slide two" type="button"></button>
                <button class="img-slide three" type="button"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="post-button-wrap">
          <button type="button" class="heart-btn" data-count="58">
            <span class="text-hide">좋아요</span>
            ${heartCount}
          </button>
          <button type="button" class="comment-btn" data-count="12">
            <span class="text-hide">댓글</span>
            ${commentCount}
          </button>
        </div>
        <span class="upload-date">${postDate}</span>  
    </section> 
    <section>
      <h2 class="text-hide">댓글</h2>
      <ul class="comment-list"></ul>
    </section>
  </main>
  <section class="comment"> 
    <img src="/images/avatar.png" alt="프로필 사진" class="avatar-img">
    <form>
      <label for="commentInput" class="text-hide">댓글 입력창</label>
      <input
        id="commentInput"
        class="comment-input"
        type="text"
        placeholder="댓글 입력하기..."
      >
      <button type="submit" class="comment-submit-btn">게시</button>
    </form>
  </section>
  <div class="more-modal"> 
      <button class="toggle-button" type="button">
        <span class="text-hide">댓글 설정 닫기</span>
      </button>
      <button class="send-feedback-button">신고하기</button> 
  </div>
  <script src="/js/post.js"></script>
</body>
</html>