<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../style/reset.css">
  <link rel="stylesheet" href="/src/style/post/post_upload.css">
  <title>PEACH MARKET | UPLOAD </title>
</head>
<body>
  <header class="top-upload-nav">
    <button type="button" class="prev-btn"></button>
    <button type="button" class="ms-button">업로드</button>
  </header>
  <main>
    <article class="post-text">
      <img src="/src/img/avatar.png" alt="프로필 사진" class="avatar-img">
      <form action="" method="post">
        <label for="postInput" class="text-hide">댓글 입력창</label>
        <textarea 
          placeholder="게시글 입력하기..."
          class="post-input" 
          id="postInput"
          minlength="1"
          maxlength="500"
          ></textarea> 
            <label class="button-image-upload" for="button-image-upload">
              이미지업로드
              <input 
                class=""
                type="file"
                name="image-upload"
                
                >
            </label> 
      </form>
    </article>
    <article class="post-image-window">
      <div class="post-image-container">
        <div class="image-wrapper">
          <img src="/src/img/post-img-example.png" alt="업로드한 이미지">
          <button class="image-delete" type="button">
            <img src="../../icon/icon-delete.svg" alt="이미지 제거">
          </button>
        </div>
        <div class="image-wrapper">
          <img src="/src/img/post-img-example.png" alt="업로드한 이미지">
          <button class="image-delete" type="button">
            <img src="../../icon/icon-delete.svg" alt="이미지 제거">
          </button>
        </div>
      </div>
    </article>
  </main>
</body>
</html>