@import url("./sign.css");

/* common */
button {
  cursor: pointer;
}
.container .selectProfile p {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.container .selectProfile button {
  background-color: inherit;
  width: 110px;
  height: 110px;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}
.container .selectProfile button img {
  display: inline-block;
  position: relative;
  top: 38px;
  left: 37px;
  width: 36px;
  height: 36px;
}
