@import "../../src/style/common/variables";

.home-post,
.home-post-onlytext {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.avatar-img {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 1.2rem;
}
.content-wrap {
  .user-info {
    display: flex;
    justify-content: space-between;
    margin-top: .4rem;
    a {
      display: flex;
      flex-direction: column;
      gap: .4rem;
      &:active {
        color: $base-color;
        .market-name { color: inherit; }
      }
      .market-name {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
      }
      .user-name {
        font-size: 1.2rem;
        font-weight: 400;
        color: $gray-color;
      }
    }
  }
  .post-content {
    font-size: 1.4rem;
    line-height: 17px;
    margin-bottom: 1.6rem;
  }
  .post-img {
    display: block;
    margin-bottom: 1.5rem;
  }
  // button 공통 속성
  [class$="btn"] {
    font-size: 12px;
    font-weight: 400px;
    color: $gray-color;
    margin-bottom: 2rem;
    &::before {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 15px;
      height: 15px;
      vertical-align: sub;
      margin-right: .6rem;
    }
  }
  .heart-btn{
    &::before { background-image: url(/../../src/icon/icon-heart.svg); }
    &.on::before { background-image: url(/../../src/icon/icon-heart-active.svg); }
  }
  .comment-btn{
    &::before { background-image: url(/../../src/icon/icon-message-circle.svg); }
    &.on::before { background-image: url(/../../src/icon/icon-message-circle-fill.svg); }
  }
  button + button {
    margin-left: 1.8rem;
  }
  .upload-date {
    display: block;
    font-size: 1rem;
    color: $gray-color;
    margin-bottom: .4rem;
  }
}

.product {
  background-color: #fff;
  width: fit-content;
  a {
    color: #000;
    &:active {
      color: $base-color;
    }
    .product-img {
      display: block;
      border-radius: 5px;
      margin-bottom: .6rem;
    }
    .product-name {
      display: block;
      font-size: 1.4rem;
      margin-bottom: .4rem;
    }
    .product-price {
      font-size: 1.2rem;
      font-weight: 700;
      color: $base-color;
    }
  }
}
