@import "../common/fonts";
@import "../common/variables";
@import "../../../modules/module/nav-module";
@import "../../../modules/module/button-module";

main {
  width: 100%;
  height: 100vh;  
} 

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.profile-image-wrapper {
  position: relative;
  .profile-image {
    width: 11rem; 
    height: 11rem; 
  }
  .profile-upload {
    position: absolute;
    top: 7.3rem;
    right: 0.2rem;
    width: 3.6rem;
    height: 3.6rem;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 3.4rem;
  
  label {
    font-size: 1.2rem;
    color: $gray-color;
    margin-top: 8%;
  }
  input {
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    border-style: none;
    border-bottom: 1px solid $light-gray-color;
  }
  input::placeholder {
    color: $light-gray-color;
  }
  .input-id.error {
    border-bottom: 1px solid red;
  }
  .input-id.error::after {
    content: "*영문, 숫자, 밑줄 및 마침표만 사용할 수 있습니다.";
    display: block;
    font-size: 1rem;
  }
}
