.container {
  margin: 0 auto;
  width: 39rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  border: none;
}

.top-basic-nav {
  width: 39rem;
  position: fixed;
  top: 0;
  z-index: 3;
}

main {
  margin-top: 49px;
  margin-bottom: 60px;
  background-color: #fff;
  position: relative;
}

article.pf {
  background-color: #fff;
  padding: 20px 34px;
  text-align: center;
  position: relative;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

article.pf header.pf-dt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

article.pf header.pf-dt ul li h3 {
  font-size: 1.8rem;
}

article.pf header.pf-dt ul li p {
  font-size: 1rem;
}

article.pf header.pf-dt ul li img {
  width: 110px;
}

article.pf h2.pf-title {
  padding-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}

article.pf .pf-id {
  padding-top: 0.6rem;
  font-size: 1.2rem;
  color: #767676;
}

article.pf .pf-description {
  padding-top: 0.6rem;
  font-size: 1.4rem;
  color: #767676;
}

article.pf .pf-footer ul {
  padding-top: 24px;
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

article.pf .pf-footer ul li.pf-icon {
  height: 3.4rem;
  width: 3.4rem;
  border: solid #dbdbdb 1px;
  border-radius: 3.4rem;
}

article.pf .pf-footer ul li.pf-icon img {
  width: 2rem;
  padding-top: 5px;
}

article.pf .pf-footer ul li:nth-child(2) {
  width: 12rem;
  border: solid #dbdbdb 1px;
  border-radius: 3.4rem;
}

article.pf .pf-footer ul li:nth-child(2) button {
  width: 100%;
}

section.pf-product {
  padding: 20px 0 20px 21px;
  border-top: #E5E5E5 solid 6px;
  overflow: hidden;
}

section.pf-product h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 16px;
}

section.pf-product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.pf-product ul li {
  padding-right: 10px;
}

section.pf-home-post {
  border-top: #E5E5E5 solid 6px;
}

section.pf-home-post header {
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  width: 39rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #DBDBDB;
}

section.pf-home-post button {
  width: 2.8rem;
  height: 2.8rem;
}

section.pf-home-post .list-btn {
  background-image: url(../../icon/icon-post-list-on.png);
}

section.pf-home-post .list-btn.off {
  background-image: url(../../icon/icon-post-list-off.png);
}

section.pf-home-post .album-btn {
  background-image: url(../../icon/icon-post-album-off.png);
}

section.pf-home-post .album-btn.on {
  background-image: url(../../icon/icon-post-album-on.png);
}

section.pf-home-post ul {
  padding: 16px;
}

section.pf-home-post ul.list-post.off {
  display: none;
}

section.pf-home-post ul.album-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

section.pf-home-post ul.album-post li {
  margin-bottom: 8px;
  width: 29%;
  min-width: 11.4rem;
  height: 29%;
  min-height: 11.4rem;
  background: #dbdbdb;
}

section.pf-home-post ul.album-post.on {
  display: block;
}

article.modal-logout {
  width: 100%;
  max-width: 39rem;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: none;
}

article.modal-logout .logout-popup {
  margin: 0 auto;
  margin-top: 50%;
  width: 25.2rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

article.modal-logout h3 {
  margin: 0;
  padding: 22px 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

article.modal-logout ul {
  min-width: 25.2rem;
  text-align: center;
  border-top: 1px solid #dbdbdb;
}

article.modal-logout ul li {
  width: 49%;
  display: inline-block;
  padding: 14px 0px;
  font-size: 1.4rem;
}

article.modal-logout ul .logout-cancle {
  border-right: 1px solid #dbdbdb;
}

article.pf-modal {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 39rem;
  z-index: 1;
  display: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

article.pf-modal p.modal-line {
  height: 3.6rem;
  width: 100%;
  line-height: 3.6rem;
  text-align: center;
}

article.pf-modal p.modal-line span {
  display: inline-block;
  width: 5rem;
  height: 0.4rem;
  background-color: #dbdbdb;
}

article.pf-modal ul li {
  line-height: 46px;
  padding: 0 26px;
  font-size: 1.4rem;
  text-align: left;
}

article.pf-modal.on,
article.modal-logout.on {
  display: block;
}

footer.tab-menu {
  width: 100%;
  max-width: 39rem;
  position: fixed;
  bottom: 0;
}
/*# sourceMappingURL=your_profile.css.map */