@import "../../../modules/module/nav-module";
@import "../../../modules/module/user-module";
@import "../../../modules/module/post-module";


.search-user-cont {
  height: 712px;
  overflow-y: scroll;
  padding: 20px 16px;
  li + li {
    margin-top: 16px;
  }
}