@import "../style/common/_variables";
@import "../style/common/_fonts";
@import "../../modules/module-style.scss";  

main {
    width: 100%;
    background: #FFF;
    height: 100vh; 
    border-top: 1px solid $white-gray-color;
    border-bottom: 1px solid $white-gray-color;
  }