@import "../style/common/_variables";
@import "../style/common/_fonts";
@import "../../modules/module-style.scss";  

main {
  width: 100%;
  background: #FFF;
  height: 100vh; 
  border-top: 1px solid $white-gray-color;
  border-bottom: 1px solid $white-gray-color;
}
.home-follow{
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
  padding-top: 15rem;
  .follow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    img {
      width: 12rem; 
      height: 12rem;
    }
    p {
      font-size: 1.4rem;
      color: $gray-color; 
      margin-bottom: 2rem;
    }
  }
}
 