* {
  font-size: 10px;
}
section {
  background-color: #FFABA2;
  max-width: 39rem;
  margin: 0 auto;
}

.logoWhite{
  display: block;
  margin: 0 auto;
  padding: 17.7rem 0;
  width: 16rem;
}

.loginList {
  padding: 5rem 3.4rem;
  background-color: #fff;
  border-radius: 2rem 2rem 0 0;
}
.loginList li {
}
.loginList li button{
  width: 100%;
  height: 4.4rem;
  padding: 1.1rem 1.5rem;
  border-radius: 3rem;
  display: inline-block;
  cursor: pointer;
  color: #767676;
  background-color: #fff;
  font-size: 1.4rem;
  overflow: hidden;
}
.loginList li .kakaoBtn{
  border: 1px solid #F2C94C;
  margin-bottom: 10px;
}
.loginList li .googleBtn{
  border: 1px solid #767676;
  margin-bottom: 10px;
}
.loginList li .facebookBtn{
  border: 1px solid #2D9CDB;

}
.loginList li button img{
  float: left;
  position: relative;
  bottom: 2px;
}
